@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

*{
  font-family: "Inter", sans-serif;
}
.gradient-border {
  border: 1px solid;
  border-image: linear-gradient(to bottom right, #632EE3, #9F62F2);
}